@charset "utf-8";
/* CSS Document */

.galleryContainer {
	width: 740px;
	height: 330px;
	overflow:hidden;
	margin-left:auto;
	margin-right:auto;
}

.mover {
}

.gallery {
	width: 740px;
	height: 330px;
	margin: 0;
	padding: 0;
	border: 0;
	overflow: hidden;
}

.navBar {
	position:absolute;
	height: 48px;
	width: 740px;
	margin-top: 282px;
	z-index: 1;
	overflow: hidden;
}

.navBox {
	position:absolute;
	margin-top: 0px;
	margin-left: 286px;
	background: url(images/gallery/navBox.png);
	width: 176px;
	height: 38px;
	z-index: 3;
}

.navNodes {
	position:absolute;
	margin-top: 20px;
	height: 16px;
	z-index: 1;
}

.node {
	background:url(images/gallery/node_unselected.png);
	width: 16px;
	height: 16px;
	border: 0;
	float: left;
}

.fadeThis * {
	display: none;
}

.fadeThis span.hover {
	position: absolute;
	top: 0;
	display: block;
	height: 16px;
	width: 16px;
	background:url(images/gallery/node_selected.jpg);
}

.thumbBox {
	position: absolute;
	margin-top: 19px;
	height: 111px;
	width: 100%;
	z-index:2;
}

.thumbBoxBG {
	position: absolute;
	margin-top: 19px;
	height: 111px;
	width: 100%;
	/*background: #FFF;*/
	background-image:url(images/gallery/trans.png);
/*	opacity: 0.6;*/
	z-index:1;
}

.thumbContainer {
	position: absolute;
	margin-top: 30px;
	width: 100%;
	height: 80px;
}

.thumb {
	background:url(images/gallery/thumb_unselected.png);
	height: 63px;
	width: 91px;
	border: 0;
	float: left;
}

.thumbFadeThis * {
	display: none;
}

.thumbFadeThis span.hover {
	position: absolute;
	top: 0;
	display: block;
	height: 63px;
	width: 91px;
	background:url(images/gallery/thumb_selected.png);
}

.thumb img{
	position: absolute;
	margin-top: 4px;
	margin-left: 4px;
	z-index: 3px;
}

.thumb a img {
	border: none;
}
